* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.543),rgba(4,9,30,0.7)),url(img/Fotoinicio.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    background: #e3e3e3;
    border-bottom: 5px solid #BD2020;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-links ul li a span {
    width: 172px;
    height: 61px;
    flex-shrink: 0;
    padding: 0.7rem 2rem;
    background: #8ED24D;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li span:hover {
    background-color: orange;
    box-shadow: 0 0 10px grey;
}

.text-box {
    width: 90%;
    color: #FFF;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #fff;
    padding: 13px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.comedores {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.comedores h1 {
    font-size: 40px;
    font-weight: 700;
}

.comedores p {
    color: #777;
    font: 30px;
    font-weight: 400;
    line-height: 22px;
    width: 90%;
}

.row {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.comedores-col {
    flex-basis: 31%;
    background: #1C2152;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 10px 0px;
    box-sizing: border-box;
    justify-content: space-between;
    transition: 0.5s ease;
}

.comedores-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #FFF;
}

img {
    width: 100%;
    border-radius: 15px;
}

.donaciones {
    background: #1C2152;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 643px;
    
}

.donaciones h1 {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    padding-top: 150px;
    color: white;
}

.donaciones p {
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    color: white;
}

.boton-donar {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    background: white;
    position: relative;
    cursor: pointer;
    margin-top: 40px;
    transition: .5s ease;
}

.boton-donar:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transform: scale(1.02);
    color: #BD2020;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.7rem 7%;
    background: #E3E3E3;
    border-bottom: 5px solid #BD2020;
}

.footer-text p {
    font-size: 16px;
    color: black;
}

.footer-icon1 img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 10px;
}

.footer-icontop img {
    width: 150px;
    height: 45px;
    margin-top: 10px;
}

.sobrenostros {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h6 {
    text-align: center;
    color: #000;
    font-size: 60px;
    font-weight: 700;
    padding-top: 40px;
}

h4 {
    text-align: center;
    color: #BD2020;
    font-size: 30px;
    font-weight: 400;
}

h5 {
    text-align: center;
    font-size: 30px;
}

.desc p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    

}

.container1 img {
    width: 206px;
    height: 206px;
    margin-left: 100px;
}

.sobrenostros-col h5 {
    text-align: center;
}

.sobrenostros-col p {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.sobrenostros-col {
    flex-basis: 31%;
    background: #E3E3E3;
    border-radius: 37px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    transition: 0.5s ease;
}

.sobrenostros-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.468);
    transform: scale(1.02);
}

.programas h4 {
    text-align: center;
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
    padding-top: 6px;
}

.line {
    width: 150px;
    height: 4px;
    background: #BD2020;
    margin: 10px auto;
    border-radius: 2px;
}

.programas .prog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.prog-container .prog-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.prog-box img {
    width: 100%;
    transition: .5s ease;
}

.prog-box {
    max-width: 470px;
    margin-left: 50px;
}

.prog-box:hover img {
    transform: scale(1.1);
}

.prog-box .programas-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), white);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.prog-box:hover .programas-layer {
    opacity: 1;
}

.programas-layer h4 {
    font-size: 30px;
    align-items: center;
    font-weight: 700;
}

.programas-layer p {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacto-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #ffa13c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #FFC180);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffa13c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffa13c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #ffa13c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ffa13c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: black;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #FFC180, #ff911b);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #ffa13c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.donation-form {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: #f4f4f4;
  }
  
  .donation-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label,
  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.donation-container {
    background-color: #E3E3E3;
    width: auto;
    border-top: 5px solid #BD2020;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.donation-form h5 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 700px) {
 
.header {
    text-align: center;
    padding-top: 20px; /* Añade más espacio en la parte superior */
}

nav {
    padding: 1% 3%;
}

nav img {
    width: 120px; 
}

.sobrenostros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sobrenostros-col {
    flex-basis: 100%;
}

.programas .prog-container {
    grid-template-columns: 1fr; 
}


}

